<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/dist/css/style.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/site.css" type="text/css" />
  <!--
  <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="/dist/css/style.min.css" />
  <link rel="stylesheet" href="/css/main.css" type="text/css" />
  <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/ie8.css" type="text/css" />
  <link rel="stylesheet" href="/css/ie9.css" type="text/css" />-->
  <title>MailMeteor</title>
  <style>
    input::-webkit-input-placeholder { /* WebKit browsers */
      color:    #757372;
    }
    input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #757372;
    }
    input::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #757372; 
    }
    input:-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    #757372;
    }
  </style>
</head>
 